html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Public Sans', sans-serif;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 2px;
    background-clip: content-box;
}

body::-webkit-scrollbar-thumb {
    background-color: #4D4847;
    border-radius: 5px;
}

p {
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #5F6368;
    transition: 0.25s;
}

nav a:hover {
    transform: translateY(-1px);
}

nav {
    color: #5F6368;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    height: 5vw;
    width: 100%;
    box-shadow: 2px 0 5px 2px #5F6368;
    position: fixed;
    top: 0;
    z-index: 4;
}

.toggle-button {
    position: absolute;
    top: 1.8vw;
    right: 4vw;
    display: none;
    border: none;
    border-radius: 3px;
}

.toggle-button:hover {
    border: 1px solid #4D4847;
}

.toggle-button .icon:hover {
    transform: translateY(0);
}

.toggle-button .icon{
    margin: 0;
    padding: 0;
}

.nav-first {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 200;
    font-size: 1.5vw;
}

.nav-second {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.2vw;
}

nav .gdsc-logo {
    padding: 1em;
    padding-left: 2em;
    height: 2.3vw;
    width: auto;
}

.dummy {
    margin: 5vw;
    width: 5vw;
}

.home {
    margin-top: 0;
    height: 100vh;
    width: 100%;
    background: radial-gradient(100% 384.89% at 100% 0%, white 13.57%, #D3D6D8 63.05%);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    width: 45%;
    font-style: normal;
    font-weight: 700;
    padding-left: 6vw;
}

.title h1 {
    font-size: 5vw;
    margin: 0;
}

.title p {
    margin: 1em 0 0 0.3em;
    font-size: 1.5vw;

}

.logo {
    width: 52%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 35vw;
    background-color: #F5F5F5;
    border-radius: 50%;
    background: linear-gradient(white, white) padding-box,
        linear-gradient(to right, #F4F4F4, #D3D6D8) border-box;
    border: 0.6vw solid transparent;
    margin-left: 2em;
    z-index: 2;
}

.logo-bg img {
    width: 90%;
}

.purple-logo {
    width: 13.5vw;
    height: 13.5vw;
    border-radius: 50%;
    background: linear-gradient(65.31deg, #5A458A 19.07%, rgba(166, 127, 255, 0.43) 84.83%);
    border: 1px solid #C79AFF;
    box-shadow: 6px 16px 23px 6px rgba(142, 109, 219, 0.27);
    position: absolute;
    transform: translate(29vw, -10.5vw);
    z-index: 1;
}

.mit-logo {
    width: 13.5vw;
    height: 13.5vw;
    border-radius: 50%;
    position: absolute;
    transform: translate(30.2vw, -9.2vw);
    z-index: 3;
}

.mit-logo img {
    border-radius: 50%;
    width: 11vw;
    box-shadow: 6px 16px 23px 6px rgba(142, 109, 219, 0.27);
}

.purple-logo img {
    width: 11vw;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #F4F4F4;
    height: 95vh;
}

.heading {
    margin: 2em 0;
    text-align: center;
    font-weight: 700;
    font-size: 3vw;
}

.about-us {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    color: #F5F5F5;
}

.blue {
    width: 25vw;
    height: 28vw;
    background: radial-gradient(84.75% 84.75% at 100% 0%, #4285F4 19.77%, #A6C7FF 100%);
    border: 3px solid #8EB7FC;
    box-shadow: 0px 19px 74px -7px #89B4FC;
    border-radius: 5vw;
    transition: 0.2s;
}

.green {
    width: 25vw;
    height: 28vw;
    background: radial-gradient(84.75% 84.75% at 100% 0%, #0F9D57 0%, #83DAAF 100%);
    border: 3px solid #92D198;
    box-shadow: 0px 19px 74px -7px #71D0A1;
    border-radius: 5vw;
    transition: 0.2s;
}

.red {
    width: 25vw;
    height: 28vw;
    background: radial-gradient(84.75% 84.75% at 100% 0%, #EA4335 0%, #F6BFBB 100%);
    border: 3px solid #F4ABA5;
    box-shadow: 0px 19px 74px -7px #F5B5AF;
    border-radius: 5vw;
    transition: 0.2s;
}

.sticker-ct {
    z-index: 1;
    transition: 0.2s;
}

.sticker {
    height: 13vw;
    width: auto;
    margin: 1.5vw;
    position: absolute;
    transform: translate(9vw, -22vw);
}

.about-us p:nth-child(1) {
    font-weight: 900;
    font-size: 2vw;
    margin: 5vw 0 0 15%;
    position: relative;
    z-index: 2;
}

.about-us p:nth-child(2) {
    font-size: 1.5vw;
    margin-top: 1vw;
    width: 70%;
    margin: 2vw 0 0 15%;
    position: relative;
    z-index: 2;
}

.about-us div:hover {
    scale: 1.05;
}

.excited-about {
    background-color: #F5F5F5;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.excited-about p {
    font-size: 1.8vw;
    color: #5C5C5C;
}

#second-heading {
    margin: 3em 0 0.5em 0;
}

#sub-heading {
    margin-bottom: 4em;
}

.tech {
    width: 100%;
    height: 55vh;
    background-color: #F5F5F5;
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#cloud {
    padding-left: 4vw;
}

.image {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 20vw;
    margin-left: 3vw;
}

.info {
    text-align: left;
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 6vw;
}

.info p:nth-child(1) {
    width: 35vw;
    font-size: 2.5vw;
    color: #555555;
}

.info p:nth-child(2) {
    width: 35vw;
    font-size: 1.5vw;
    font-weight: 200;
    margin: 2.5vw 0;
}

.btn {
    background: radial-gradient(84.75% 84.75% at 100% 0%, #95b9f8 19.77%, #669cf3 100%);
    box-shadow: 0px 19px 74px -7px #89B4FC;
    border: none;
    border-radius: 8px;
    font-size: 1vw;
    color: #F5F5F5;
    padding: 0.8vw 1.2vw;
    box-shadow: 2px 3px 10px #89B4FC;
    text-decoration: none;
    transition: 0.2s;
}

i {
    color: #F5F5F5;
    padding-left: 0.8vw;
}

.btn:hover {
    transform: translateY(-1.5px);
}

.theteam {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 22vw;
    height: 32vw;
    border-radius: 2vw;
    background-color: white;
}

.rect {
    position: static;
    width: 22vw;
    height: 10.6vw;
    background: radial-gradient(100% 572.9% at 86.88% 0%, #2F5BE7 0%, #B3C8FF 100%);
    border-radius: 2vw 2vw 0 0;
}

.photo {
    position: absolute;
    width: 13.75vw;
    height: 13.75vw;
    border-radius: 50%;
    border: 9px solid #D9D9D9;
    box-shadow: 0px 11px 19px rgba(0, 0, 0, 0.25);
    transform: translateY(3vw);
}

.photo img {
    width: 13.75vw;
    height: 13.75vw;
    border-radius: 50%;
}

.card h2 {
    margin: 9vw 0 0.5vw 0;
    font-size: 2vw;
}

.theteam p {
    margin-top: 0;
    width: 18vw;
    font-size: 1vw;
}

.card p:nth-child(4) {
    margin-bottom: 0.5vw;
}

.icon {
    color: gray;
    font-size: 1.7vw;
    margin-top: 0.7vw;
    transition: 0.25s;
}

.icon:hover {
    transform: translateY(2px);
}

.sub-heading {
    color: #5C5C5C;
    font-weight: 500;
    margin-top: 0;
    font-size: 2vw;
}

.mg-bt-0 {
    margin-bottom: 2vw;
}

#red {
    background: radial-gradient(100% 572.9% at 86.88% 0%, #EB5043 0%, #F39E97 100%);
}

.team-icons {
    margin: 7vw 0 0 0;
    height: 14vw;
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    height: 14vw;
    text-align: center;
}

.icons img {
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    margin-bottom: 1.5vw;
    box-shadow: 0px 5px 15px 5px lightgrey;
    transition: 0.25s;
}

.icons img:hover {
    scale: 1.2;
}

.team-module {
    width: 100%;
    height: fit-content;
    background: linear-gradient(180deg, #D7D7D7 0%, #ECEFF1 27.29%);
    display: flex;
    flex-direction: column;
}

.team-module .heading {
    margin: 3vw 0;
}

.module {
    width: 100%;
    height: 40vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.head {
    height: 31.2vw;
    width: 43.16vw;
    display: flex;
    flex-direction: row;
    border-radius: 2vw;
    margin-left: 4vw;
}

.module-first {
    height: 31.2vw;
    width: 20.8vw;
    background: linear-gradient(180deg, #EB5043 0%, #f7aba4 60%);
    border-radius: 2vw 0 0 2vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.module-first img {
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    border: 9px solid #D9D9D9;
    box-shadow: 0px 11px 19px rgba(0, 0, 0, 0.25);
    margin: 2.6vw;
}

.module-second {
    background-color: white;
    border-radius: 0 2vw 2vw 0;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-evenly;
    padding: 0.65vw;
    width: 26vw;
    padding-left: 2.6vw;
}

.module-second .para {
    font-size: 1.3vw;
    width: 18.2vw;
}

.name {
    color: white;
    font-size: 2vw;
    margin: 0;
}

.module-first p {
    color: white;
    padding-top: 1.3vw;
}

.module-second .links {
    padding-left: 0;
    transform: translateX(-0.7vw);
}

.module-second h2 {
    font-size: 2vw;
    margin: 0;
}

.scrollable {
    height: 35vw;
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2vw;
    overflow-x: scroll;
}

.card2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 20vw;
    height: 30vw;
    border-radius: 2vw;
    background-image: url("Photos/Background/yellow.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 2vw;
}

.photo2 {
    /* margin-top: 1.3vw; */
    position: relative;
    width: 12.4vw;
    height: 12.4vw;
    border-radius: 50%;
    border: 9px solid #D9D9D9;
    box-shadow: 0px 11px 19px rgba(0, 0, 0, 0.25);
}

.photo2 img {
    width: 12.4vw;
    height: 12.4vw;
    border-radius: 50%;
}

.card2 h2 {
    font-size: 1.3vw;
    margin: 0;
}

.card2 p {
    margin-top: 0;
    width: 13.8vw;
    height: 4.3vw;
    font-size: 1vw;
    overflow-y: scroll;
}

.scrollable::-webkit-scrollbar {
    display: none;
}

.para::-webkit-scrollbar {
    display: none;
}

footer {
    width: 100%;
    height: 28.47vw;
    background-image: url("Photos/Background/footerframe.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-first {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.footer-second {
    display: flex;
    flex-direction: row;
}

.sub-first {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sub-first p {
    font-size: 1.2vw;
    color: #5F6368;
}

.sub-first img {
    width: 4vw;
    height: auto;
    margin-right: 1vw;
}

.footer-first h2 {
    font-size: 1.5vw;
    margin-bottom: 0.5vw;
}

.para {
    font-size: 1.2vw;
    margin-bottom: 0.5vw;
}

.footer-second .para {
    margin: 0 8vw 0 9vw;
}

.footer-second .icon {
    color: #303030;
}

.open-close {
    display: none;
}

@media (max-width : 600px) {
    .nav-second {
        display: none;
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
        text-align: center;
        padding-bottom: 1.5vw;
    }
    .toggle-button {
        display: flex;
        scale: 2;
        top: 5vw;
        right: 7vw;
        height: 2.5vw;
    }
    .toggle-button .icon {
        color: #303030;
    }
    .nav-first {
        font-size: 3.5vw;
        margin-top: 0;
    }
    nav {
        height: fit-content;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    nav .gdsc-logo {
        height: 4.6vw;
        width: auto;
    }
    nav a {
        width: 100%;
        font-size: 3vw;
        padding: 2vw;
    }
    nav a:hover {
        transform: translateY(-1px);
        color: white;
        background-color: lightgray;
    }
    .home {
        flex-direction: column-reverse;
        justify-content: space-evenly;
        text-align: center;
    }
    .home .title,.logo {
        padding: 0;
        margin: 0;
    }
    .title {
        width: 100%;
    }
    .title h1 {
        font-size: 10vw;
    }
    .title p {
        font-size: 4vw;
    }
    .logo {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .logo-bg {
        width: 70vw;
        height: 70vw;
        margin: 0;
    }
    .purple-logo {
        transform: translate(31vw, -20.5vw);
        width: 27vw;
        height: 27vw;
    }
    .mit-logo {
        transform: translate(31.2vw, -18.2vw);
        width: 27vw;
        height: 27vw;
    }

    .mit-logo img {
        width: 22vw;
    }

    .intro {
        justify-content: space-evenly;
        height: 150vh;
    }
    .about-us {
        flex-direction: column;
        justify-content: space-around;
        height: 80%;
    }
    .heading {
        margin: 0;
        font-size: 7vw;
    }
    .blue, .green, .red {
        scale: 2.5;
    }
    .about-us div:hover {
        scale: 2.6;
    }
    .excited-about p {
        font-size: 3.6vw;
    }
    .tech {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 60vh;
    }
    .image {
        width: 100%;
        height: fit-content;
    }
    .image img {
        width: 40%;
        margin: 0;
    }
    .info {
        text-align: center;
        width: 70%;
        height: 80vw;
        margin: 0;
        align-items: center;
    }
    .info p:nth-child(1) {
        width: 70vw;
        font-size: 7vw;
    }
    .info p:nth-child(2) {
        width: 70vw;
        font-size: 3.5vw;
        margin: 5vw 0;
    }
    #rev {
        flex-direction: column-reverse;
    }
    #rev img {
        padding-left: 6vw;
    }
    .btn {
        margin-top: 4vw;
        scale: 4;
    }
}

