body {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #5F6368;
    transition: 0.4s;
}

a:hover {
    transform: translateY(-1.5px);
    text-shadow: 2px 2px 3px #5F6368;
}

nav {
    color: #5F6368;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    height: 5vw;
    width: 100%;
    font-family: 'Public Sans', sans-serif;
    box-shadow: 2px 0 5px 2px #5F6368;
    position: fixed;
    top: 0;
    z-index: 4;
}

.nav-first {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 100;
    font-size: 1.5vw;
}

.nav-second {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.2vw;
}

nav .gdsc-logo {
    padding: 1em;
    padding-left: 2em;
    height: 2.3vw;
    width: auto;
}

.home {
    margin-top: 3vw;
    height: 100vh;
    width: 100%;
    background: radial-gradient(100% 384.89% at 100% 0%, white 13.57%, #D3D6D8 63.05%);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    width: 45%;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    padding-left: 8vw;
}

.title h1 {
    font-size: 5vw;
    margin: 0 0 0.3em 0;
}

.title p {
    margin: 1em 0 0 0.3em;
    font-size: 1.5vw;

}

.logo {
    width: 52%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 35vw;
    background-color: #F5F5F5;
    border-radius: 50%;
    background: linear-gradient(white, white) padding-box,
        linear-gradient(to right, #F4F4F4, #D3D6D8) border-box;
    border: 0.6vw solid transparent;
    margin-left: 2em;
    z-index: 2;
}

.logo-bg img {
    width: 90%;
}

.purple-logo {
    width: 13.5vw;
    height: 13.5vw;
    border-radius: 50%;
    background: linear-gradient(65.31deg, #5A458A 19.07%, rgba(166, 127, 255, 0.43) 84.83%);
    border: 1px solid #C79AFF;
    box-shadow: 6px 16px 23px 6px rgba(142, 109, 219, 0.27);
    position: absolute;
    transform: translate(29vw, -10.5vw);
    z-index: 1;
}

.mit-logo {
    width: 13.5vw;
    height: 13.5vw;
    border-radius: 50%;
    position: absolute;
    transform: translate(30.2vw, -9.2vw);
    z-index: 3;
}

.mit-logo img {
    border-radius: 50%;
    width: 11vw;
    box-shadow: 6px 16px 23px 6px rgba(142, 109, 219, 0.27);
}

.purple-logo img {
    width: 11vw;
}